/* Rest CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Universal Styles */
* {
  box-sizing: border-box;
}
html {
  font-size: 100%;
  font-family: "Roboto", "Helvetica";
  scroll-behavior: smooth;
  color: #242427;
}
body {
  line-height: 1.4;
}
.container {
  margin: 0 auto;
  max-width: 1000px;
}
html.sr .load-hidden {
  visibility: hidden;
}
.navigation {
  position: fixed;
  width: 100%;
  background: #a66429;
  z-index: 10;
}
.navigation nav {
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.navigation nav a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  padding: 14px 10%;
  background: #a66429;
  clip-path: polygon(112% -38%, 72% 101%, 4% 103%, 37% 0%);
  transition: all 1s ease;
}
.navigation nav a:hover {
  color: #a66429;
  background: #fff;
  clip-path: polygon(112% -38%, 72% 101%, 4% 103%, 37% 0%);
}
header {
  position: relative;
}
header .jumboImg {
  background-image: url(../images/jumboImg.jpg);
  filter: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  transition: background-image 1s ease, filter 1s ease;
}
header .loading {
  background-color: #2e69b7;
  background-image: url(../images/compressImg.jpg);
  filter: blur(0px);
}
header .jumboTxt {
  position: absolute;
  top: 40%;
  left: 15%;
  color: #ffffff;
}
header .jumboTxt h1 {
  font-size: 4rem;
  line-height: 1;
}
header .jumboTxt p {
  font-size: 1.4rem;
}
.home {
  background: linear-gradient(#4181af, #0a0e35);
  padding: 1px;
}
.home h2 {
  font-size: 2.2rem;
}
.home #about,
.home #experience,
.home #projects,
.home #tech {
  background: #cfc7bb;
  margin: 20% 2%;
  padding: 10px 2%;
  border-radius: 20px;
}
.home #about .main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 751px) {
  .home #about .main {
    flex-direction: column;
  }
}
.home #about .main p {
  font-size: 1.5rem;
  line-height: 1.5;
  padding-top: 20px;
  font-weight: bold;
}
.home #about .main .laurenPic {
  max-height: 350px;
  border-radius: 50%;
}
@media (max-width: 751px) {
  .home #about .main .laurenPic {
    width: 60%;
  }
}
@media (max-width: 501px) {
  .home #about .main .laurenPic {
    width: 80%;
  }
}
.home #projects a {
  text-decoration: none;
  color: black;
  margin: 0px 5%;
}
.home #projects h2 {
  padding-bottom: 25px;
}
.home #projects .wrapper {
  margin: 0 auto 100px auto;
  cursor: pointer;
}
.home #projects .stage {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.home #projects .project {
  width: 260px;
  height: 400px;
  margin: 30px 6%;
  float: left;
  perspective: 1000px;
}
.home #projects .pro {
  width: 260px;
  height: 400px;
  transform-style: preserve-3d;
  transform: translateZ(-130px);
  transition: transform 350ms 200ms;
}
.home #projects .pro:hover {
  transform: rotateY(-78deg) translateZ(20px);
}
.home #projects .pro .poster,
.home #projects .pro .info {
  position: absolute;
  width: 260px;
  height: 400px;
  background: #fff;
  backface-visibility: hidden;
}
.home #projects .pro .mappajob {
  background-image: url(../images/mappaImg.PNG);
}
.home #projects .pro .lambdanotes {
  background-image: url(../images/lambdaNotesImg.PNG);
}
.home #projects .pro .poster {
  transform: translateZ(130px);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0px 0px 40px rgba(255, 255, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #fff;
}
.home #projects .pro .poster h3 {
  z-index: 10;
}
.home #projects .pro .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home #projects .pro .info {
  transform: rotateY(90deg) translateZ(130px);
  border: 1px solid #cfc7bb;
  font-size: 0.9rem;
  padding: 4%;
  background: #242427;
  color: #fff;
}
.home #projects .pro .info p {
  margin-top: 10px;
}
.home #projects .pro .info h2 {
  text-align: center;
  padding: 0;
}
.home #projects .pro .info .skills {
  font-size: 1rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 13%;
}
.home #projects .pro .info .skills p {
  padding: 0 2%;
}
.home #projects .pro::after {
  content: "";
  width: 260px;
  height: 260px;
  position: absolute;
  bottom: 0;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.3);
  transform-origin: 100% 100%;
  transform: rotateX(90deg) translateY(130px);
  transition: box-shadow 350ms 200ms;
}
.home #projects .pro:hover::after {
  box-shadow: 20px -5px 50px rgba(0, 0, 0, 0.3);
}
.home #projects .pro .poster,
.home #projects .pro .info {
  transition: box-shadow 350ms 200ms;
}
.home #projects .pro:hover .poster {
  box-shadow: inset 300px 0px 40px rgba(255, 255, 255, 0.8);
}
.home #projects .pro .info {
  box-shadow: inset -300px 0px 40px rgba(255, 255, 255, 0.5);
}
.home #projects .pro:hover .info {
  box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0);
}
.home #experience .exp {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 501px) {
  .home #experience .exp {
    flex-direction: column;
  }
}
.home #experience .exp .block {
  padding: 15px 2% 10px 2%;
  max-width: 500px;
  min-height: 250px;
  margin-top: 10px;
}
.home #experience .exp .block h3 {
  font-size: 1.5rem;
  padding: 2px 0;
}
.home #experience .exp .block .date {
  font-style: italic;
  font-size: 0.9rem;
}
.home #experience .exp .block .description {
  font-size: 1.1rem;
  line-height: 1.5;
}
.home #experience .exp .job {
  margin-right: 2%;
}
.home #tech .icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.home #tech .icons svg {
  width: 15%;
  margin: 3px 1%;
}
@media (max-width: 751px) {
  .home #tech .icons svg {
    width: 24%;
  }
}
@media (max-width: 501px) {
  .home #tech .icons svg {
    width: 40%;
  }
}
.home #contact {
  text-align: center;
  color: #fff;
  padding: 30px 0;
  overflow-x: hidden;
  position: relative;
}
.home #contact .fish {
  position: relative;
  margin-left: -14px;
  z-index: 10;
}
.home #contact .fish .angler {
  height: 560px;
}
.home #contact .fish .eye {
  background: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  top: 170px;
  right: 35%;
  clip-path: inset(30px 0px);
  transition: clip-path 1s ease;
}
.home #contact .fish .openeye {
  clip-path: inset(0px 0px);
}
.home #contact .swim {
  animation: MoveUpDown 1s linear 3;
}
@keyframes MoveUpDown {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 25px;
  }
}
.home #contact .main {
  position: absolute;
  top: 22%;
  width: 330px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.home #contact .main p {
  font-size: 1.7rem;
}
.home #contact .main .email {
  font-weight: bold;
  color: #ff5757;
}
.home #contact .main i {
  font-size: 60px;
  background: #fff;
  border-radius: 50%;
}
.home #contact .main .links {
  display: flex;
  justify-content: space-around;
}
.home #contact .main .links .fa-linkedin {
  color: #0077b5;
  clip-path: inset(4px 0px);
}
.home #contact .main .links .fa-twitter-square {
  color: #1da1f2;
  clip-path: inset(4px 0px);
}
.home #contact .main .links .fa-github {
  color: #fff;
  background: #000;
}
