/* Rest CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Universal Styles */
* {
  box-sizing: border-box;
}
html {
  font-size: 100%;
  font-family: "Roboto", "Helvetica";
  scroll-behavior: smooth;
}
body {
  background: #516481;
  line-height: 1.4;
}
.container {
  margin: 0 auto;
  max-width: 800px;
}
html.sr .load-hidden {
  visibility: hidden;
}
.navigation {
  position: fixed;
  width: 100%;
  background: #a66429;
  z-index: 10;
}
.navigation nav {
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  min-height: 50px;
}
.navigation nav a {
  color: #ffffff;
  text-decoration: none;
  transition: border-bottom 1s ease;
}
.navigation nav a:hover {
  border-bottom: 1px dashed;
}
header {
  position: relative;
  min-height: 830px;
}
header .jumboImg {
  background-image: url(../images/jumboImg.jpg);
  filter: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  transition: background-image 1s ease, filter 1s ease;
}
header .loading {
  background-color: #2e69b7;
  background-image: url(../images/compressImg.jpg);
  filter: blur(0px);
}
header .jumboTxt {
  position: absolute;
  top: 40%;
  left: 15%;
  color: #ffffff;
}
header .jumboTxt h1 {
  font-size: 4rem;
  line-height: 1;
}
header .jumboTxt p {
  font-size: 1.4rem;
}
.home section {
  min-height: 450px;
  padding: 60px 0;
}
.home #about,
.home #experience {
  background: #cfc7bb;
  max-width: 100%;
  overflow: hidden;
}
.home #projects,
.home #tech {
  background: #467bbb;
  max-width: 100%;
  overflow: hidden;
}
.home #projects a {
  text-decoration: none;
  color: black;
}
.home #projects h2 {
  padding-bottom: 25px;
}
.home #projects .wrapper {
  margin: 0 auto 100px auto;
  max-width: 960px;
  cursor: pointer;
}
.home #projects .stage {
  list-style: none;
  padding: 0;
}
.home #projects .project {
  width: 260px;
  height: 400px;
  margin: 30px;
  float: left;
  perspective: 1000px;
}
.home #projects .pro {
  width: 260px;
  height: 400px;
  transform-style: preserve-3d;
  transform: translateZ(-130px);
  transition: transform 350ms 200ms;
}
.home #projects .pro:hover {
  transform: rotateY(-78deg) translateZ(20px);
}
.home #projects .pro .poster,
.home #projects .pro .info {
  position: absolute;
  width: 260px;
  height: 400px;
  background: #fff;
  backface-visibility: hidden;
}
.home #projects .pro .poster {
  transform: translateZ(130px);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/mappaImg.PNG);
  box-shadow: inset 0px 0px 40px rgba(255, 255, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #fff;
}
.home #projects .pro .poster h3 {
  z-index: 10;
}
.home #projects .pro .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home #projects .pro .info {
  transform: rotateY(90deg) translateZ(130px);
  border: 1px solid #b8b5b5;
  font-size: 0.9rem;
  padding: 4%;
  background: #cfc7bb;
}
.home #projects .pro .info p {
  margin-top: 10px;
}
.home #projects .pro .info h2 {
  text-align: center;
  padding: 0;
}
.home #projects .pro .info .skills {
  font-size: 1rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 20%;
}
.home #projects .pro::after {
  content: "";
  width: 260px;
  height: 260px;
  position: absolute;
  bottom: 0;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.3);
  transform-origin: 100% 100%;
  transform: rotateX(90deg) translateY(130px);
  transition: box-shadow 350ms 200ms;
}
.home #projects .pro:hover::after {
  box-shadow: 20px -5px 50px rgba(0, 0, 0, 0.3);
}
.home #projects .pro .poster,
.home #projects .pro .info {
  transition: box-shadow 350ms 200ms;
}
.home #projects .pro:hover .poster {
  box-shadow: inset 300px 0px 40px rgba(255, 255, 255, 0.8);
}
.home #projects .pro .info {
  box-shadow: inset -300px 0px 40px rgba(0, 0, 0, 0.5);
}
.home #projects .pro:hover .info {
  box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0);
}
.home #tech .icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.home #tech .icons svg {
  width: 15%;
  margin: 0 1%;
}
