/* Rest CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Universal Styles */
* {
  box-sizing: border-box;
}
html {
  font-size: 100%;
  font-family: "Roboto", "Helvetica";
  scroll-behavior: smooth;
  color: #242427;
}
body {
  line-height: 1.4;
}
.container {
  margin: 0 auto;
  max-width: 1000px;
}
html.sr .load-hidden {
  visibility: hidden;
}
.navigation {
  position: fixed;
  width: 100%;
  background: #a66429;
  z-index: 100;
}
.navigation .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 5%;
}
.navigation .nav .logo {
  font-family: "YellowTail", cursive;
  font-size: 1.5rem;
  font-weight: bold;
}
.navigation .nav .logo a {
  text-decoration: none;
  color: #ffffff;
}
.navigation .nav .hamburger {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  cursor: pointer;
}
.navigation .nav .hamburger p {
  width: 35px;
  height: 3px;
  background-color: #ffffff;
  margin: 4px 0;
}
.navigation .sideNav {
  display: none;
  position: absolute;
  background: #a66429;
  top: 0;
  right: 0;
  width: 150px;
  height: 100vh;
}
@media (max-width: 501px) {
  .navigation .sideNav {
    width: 100vw;
  }
}
.navigation .sideNav .navFish {
  cursor: pointer;
  padding-top: 2px;
  width: 40px;
}
.navigation .sideNav nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  flex-direction: column;
  justify-content: space-between;
}
.navigation .sideNav nav a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  width: 100%;
  padding: 8px 0;
  clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);
  transition: all 1s ease;
}
.navigation .sideNav nav a:hover {
  color: #a66429;
  background: #ffffff;
  clip-path: polygon(100% 0%, 87% 100%, 0% 100%, 15% 0%);
}
@media (max-width: 501px) {
  .navigation .sideNav nav a:hover {
    clip-path: none;
  }
}
@keyframes eat {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 110%, 0 120%, 40% 64%, 0 20%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 110%, 0 60%, 40% 64%, 0 65%);
  }
}
header {
  position: relative;
}
header .jumboImg {
  background-image: url(../images/jumboImg.jpg);
  filter: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  transition: background-image 1s ease, filter 1s ease;
}
header .loading {
  background-color: #2e69b7;
  background-image: url(../images/compressImg.jpg);
  filter: blur(0px);
}
header .jumboTxt {
  position: absolute;
  top: 35%;
  left: 10%;
  color: #ffffff;
}
@media (max-width: 501px) {
  header .jumboTxt {
    text-align: center;
    margin: 0 auto;
    left: 10%;
    padding: 0 2%;
    transform: translate(-5%, 0);
  }
}
header .jumboTxt h1 {
  font-size: 7rem;
  line-height: 1;
  font-family: "YellowTail", cursive;
}
@media (max-width: 751px) {
  header .jumboTxt h1 {
    font-size: 5rem;
  }
}
@media (max-width: 501px) {
  header .jumboTxt h1 {
    font-size: 5rem;
    padding-bottom: 5px;
  }
}
header .jumboTxt h1::after {
  content: "Full Stack Web Developer";
  display: block;
  font-size: 2rem;
  font-family: "Roboto", "Helvetica";
}
header .jumboTxt p {
  font-size: 2rem;
}
.fishAnimation {
  position: relative;
  padding: 200px 0;
  overflow: hidden;
}
.fishAnimation .fish {
  width: 150px;
  position: absolute;
  opacity: 0;
}
.fishAnimation .jellyfish {
  top: 0;
  animation: SwimUpDown 1.5s infinite alternate, MoveOnScreen 30s linear infinite alternate;
}
@media (max-width: 501px) {
  .fishAnimation .jellyfish {
    animation: SwimUpDown 1.5s infinite alternate, MoveOnScreen 15s linear infinite alternate;
  }
}
.fishAnimation .normFish2 {
  top: 40%;
  animation: SwimUpDown 1.5s infinite alternate, MoveOnScreen 15s 4s infinite normal;
}
.fishAnimation .dolphin {
  top: 80%;
  width: 250px;
  animation: SwimUpDown 1.5s infinite alternate, MoveOnScreen 15s 5s infinite reverse;
}
@media (max-width: 501px) {
  .fishAnimation .dolphin {
    animation: SwimUpDown 1.5s infinite alternate, MoveOnScreen 7s 5s infinite reverse;
  }
}
.fishAnimation .puffer {
  top: 0;
  width: 100px;
  animation: SwimUpDown 1.5s infinite alternate, MoveOnScreen 15s 7s linear infinite normal;
  transform: scaleX(-1);
}
@media (max-width: 501px) {
  .fishAnimation .puffer {
    animation: SwimUpDown 1.5s infinite alternate, MoveOnScreen 7s 7s linear infinite normal;
  }
}
.fishAnimation .school {
  top: 20%;
  width: 250px;
  animation: SwimUpDown 1.5s infinite alternate, MoveOnScreen 15s infinite normal;
}
.fishAnimation .spiny {
  top: 50%;
  animation: SwimUpDown 1.5s infinite alternate, MoveOnScreen 15s 3s infinite reverse;
}
.fishAnimation .sword {
  top: 85%;
  width: 300px;
  animation: SwimUpDown 1.5s infinite alternate, MoveOnScreen 15s 2s linear infinite reverse;
  transform: rotate(-15deg);
}
@media (max-width: 501px) {
  .fishAnimation .sword {
    animation: SwimUpDown 1.5s infinite alternate, MoveOnScreen 7s 2s linear infinite reverse;
  }
}
.fishAnimation .normFish3 {
  top: 0;
  animation: SwimUpDown 1.5s infinite alternate, MoveOnScreen 15s 5s linear infinite normal;
}
@media (max-width: 501px) {
  .fishAnimation .normFish3 {
    animation: SwimUpDown 1.5s infinite alternate, MoveOnScreen 7s 5s linear infinite normal;
  }
}
.fishAnimation .seahorse {
  width: 90px;
  top: 70%;
  animation: SwimUpDown 1.5s infinite alternate, MoveOnScreen 15s 5s linear infinite reverse;
}
@media (max-width: 501px) {
  .fishAnimation .seahorse {
    top: 80%;
    animation: SwimUpDown 1.5s infinite alternate, MoveOnScreen 7s 5s linear infinite reverse;
  }
}
.fishAnimation .shark {
  top: 0;
  animation: SwimUpDown 1.5s infinite alternate, MoveOnScreen 15s linear infinite normal;
  width: 330px;
  transform: scale(1.3);
}
@media (max-width: 501px) {
  .fishAnimation .shark {
    top: -5%;
    height: 410px;
    animation: SwimUpDown 1.5s infinite alternate, MoveOnScreen 9s 2s linear infinite normal;
  }
}
.fishAnimation .normFish {
  top: 20%;
  animation: SwimUpDown 1.5s infinite alternate, MoveOnScreen 15s linear infinite normal;
}
.fishAnimation .bass {
  top: 0;
  animation: SwimUpDown 1.5s infinite alternate, MoveOnScreen 15s linear infinite reverse;
}
@media (max-width: 501px) {
  .fishAnimation .bass {
    animation: SwimUpDown 1.5s infinite alternate, MoveOnScreen 7s linear infinite reverse;
  }
}
.fishAnimation .norm {
  top: 10%;
  animation: SwimUpDown 1.5s infinite alternate, MoveOnScreen 15s 2s linear infinite normal;
}
@media (max-width: 501px) {
  .fishAnimation .norm {
    animation: SwimUpDown 1.5s infinite alternate, MoveOnScreen 7s 2s linear infinite normal;
  }
}
.fishAnimation .whale {
  top: 80%;
  animation: SwimUpDown 1.5s infinite alternate, MoveOnScreen 15s linear infinite reverse;
  transform: scale(3) scaleX(-1);
}
@media (max-width: 501px) {
  .fishAnimation .whale {
    animation: SwimUpDown 1.5s infinite alternate, MoveOnScreen 7s 4s linear infinite reverse;
  }
}
@keyframes SwimUpDown {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 25px;
  }
}
@keyframes MoveOnScreen {
  0% {
    opacity: 1;
    margin-left: -70%;
  }
  100% {
    margin-left: 120%;
    opacity: 1;
  }
}
.home {
  background: linear-gradient(#4181af, #0a0e35);
  padding: 1px;
}
.home h2 {
  font-size: 2.2rem;
}
.home .area {
  background: #cfc7bb;
  padding: 15px 2%;
  border-radius: 20px;
  position: relative;
  z-index: 5;
}
.home #about .main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 751px) {
  .home #about .main {
    flex-direction: column;
  }
}
.home #about .main p {
  font-size: 1.5rem;
  line-height: 1.5;
  padding-top: 20px;
  font-weight: bold;
}
.home #about .main .laurenPic {
  max-height: 350px;
  border-radius: 50%;
}
@media (max-width: 751px) {
  .home #about .main .laurenPic {
    width: 60%;
  }
}
@media (max-width: 501px) {
  .home #about .main .laurenPic {
    width: 80%;
  }
}
.home #projects a {
  text-decoration: none;
  color: black;
  margin: 0px 5%;
}
.home #projects h2 {
  padding-bottom: 25px;
}
.home #projects .wrapper {
  margin: 0 auto 100px auto;
  cursor: pointer;
}
.home #projects .stage {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.home #projects .project {
  width: 260px;
  height: 400px;
  margin: 30px 6%;
  float: left;
  perspective: 1000px;
}
.home #projects .pro {
  width: 260px;
  height: 400px;
  transform-style: preserve-3d;
  transform: translateZ(-130px);
  transition: transform 350ms 200ms;
}
.home #projects .pro:hover {
  transform: rotateY(-78deg) translateZ(20px);
}
.home #projects .pro .poster,
.home #projects .pro .info {
  position: absolute;
  width: 260px;
  height: 400px;
  background: #fff;
  backface-visibility: hidden;
}
.home #projects .pro .mappajob {
  background-image: url(../images/mappaImg.PNG);
}
.home #projects .pro .lambdanotes {
  background-image: url(../images/lambdaNotesImg.PNG);
}
.home #projects .pro .poster {
  transform: translateZ(130px);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0px 0px 40px rgba(255, 255, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #fff;
}
.home #projects .pro .poster h3 {
  z-index: 10;
}
.home #projects .pro .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home #projects .pro .info {
  transform: rotateY(90deg) translateZ(130px);
  border: 1px solid #cfc7bb;
  font-size: 0.9rem;
  padding: 4%;
  background: #242427;
  color: #fff;
}
.home #projects .pro .info p {
  margin-top: 10px;
}
.home #projects .pro .info h2 {
  text-align: center;
  padding: 0;
}
.home #projects .pro .info .skills {
  font-size: 1rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 13%;
}
.home #projects .pro .info .skills p {
  padding: 0 2%;
}
.home #projects .pro::after {
  content: "";
  width: 260px;
  height: 260px;
  position: absolute;
  bottom: 0;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.3);
  transform-origin: 100% 100%;
  transform: rotateX(90deg) translateY(130px);
  transition: box-shadow 350ms 200ms;
}
.home #projects .pro:hover::after {
  box-shadow: 20px -5px 50px rgba(0, 0, 0, 0.3);
}
.home #projects .pro .poster,
.home #projects .pro .info {
  transition: box-shadow 350ms 200ms;
}
.home #projects .pro:hover .poster {
  box-shadow: inset 300px 0px 40px rgba(255, 255, 255, 0.8);
}
.home #projects .pro .info {
  box-shadow: inset -300px 0px 40px rgba(255, 255, 255, 0.5);
}
.home #projects .pro:hover .info {
  box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0);
}
.home #experience .exp {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 501px) {
  .home #experience .exp {
    flex-direction: column;
  }
}
.home #experience .exp .block {
  padding: 15px 2% 10px 2%;
  max-width: 500px;
  min-height: 250px;
  margin-top: 10px;
}
.home #experience .exp .block h3 {
  font-size: 1.5rem;
  padding: 2px 0;
}
.home #experience .exp .block .date {
  font-style: italic;
  font-size: 0.9rem;
}
.home #experience .exp .block .description {
  font-size: 1.1rem;
  line-height: 1.5;
}
.home #experience .exp .job {
  margin-right: 2%;
}
.home #tech .icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.home #tech .icons svg {
  width: 15%;
  margin: 3px 1%;
}
@media (max-width: 751px) {
  .home #tech .icons svg {
    width: 24%;
  }
}
@media (max-width: 501px) {
  .home #tech .icons svg {
    width: 40%;
  }
}
.home #contactMe {
  text-align: center;
  color: #fff;
  padding: 15px 0 70px 0;
}
.home #contactMe .singleFish {
  position: absolute;
  z-index: 10;
  top: 0;
  height: 500px;
  width: 100%;
}
.home #contactMe .singleFish .angler {
  background: url(../images/fish.svg);
  background-repeat: no-repeat;
  height: 560px;
  background-size: contain;
  background-position: center;
}
.home #contactMe .singleFish .eye {
  background: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  top: 37%;
  left: 57%;
  transform: translate(-57%, -37%);
  clip-path: inset(30px 0px);
  transition: clip-path 1s ease;
}
@media (max-width: 751px) {
  .home #contactMe .singleFish .eye {
    left: 68%;
    top: 40%;
    transform: translate(-68%, 0%);
  }
}
@media (max-width: 501px) {
  .home #contactMe .singleFish .eye {
    left: 63%;
    top: 41%;
    transform: translate(-63%, 41%);
    width: 30px;
    height: 30px;
  }
}
.home #contactMe .singleFish .openeye {
  clip-path: inset(0px 0px);
}
.home #contactMe .swimAngler {
  animation: MoveUpDown 1s linear infinite alternate;
}
@keyframes MoveUpDown {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 25px;
  }
}
.home #contactMe .main {
  width: 330px;
  margin: 0 auto;
}
@media (max-width: 501px) {
  .home #contactMe .main {
    opacity: 0;
    transition: opacity 0.2s;
  }
}
.home #contactMe .main p {
  font-size: 1.7rem;
}
.home #contactMe .main .email {
  font-weight: bold;
  color: #ff5757;
}
.home #contactMe .main i {
  font-size: 60px;
  background: #fff;
  border-radius: 50%;
}
.home #contactMe .main .links {
  display: flex;
  justify-content: space-around;
}
.home #contactMe .main .links .fa-linkedin {
  color: #0077b5;
  clip-path: inset(4px 0px);
}
.home #contactMe .main .links .fa-twitter-square {
  color: #1da1f2;
  clip-path: inset(4px 0px);
}
.home #contactMe .main .links .fa-github {
  color: #fff;
  background: #000;
}
