.fishAnimation {
  position: relative;
  padding: 200px 0;
  overflow: hidden;

  .fish {
    width: 150px;
    position: absolute;
    opacity: 0;
  }

  .jellyfish {
    top: 0;
    animation: SwimUpDown 1.5s infinite alternate,
      MoveOnScreen 30s linear infinite alternate;
  }

  .normFish2 {
    top: 40%;
    animation: SwimUpDown 1.5s infinite alternate,
      MoveOnScreen 15s 4s infinite normal;
  }

  .dolphin {
    top: 80%;
    width: 250px;
    animation: SwimUpDown 1s infinite alternate,
      MoveOnScreen 15s 5s infinite reverse;
  }

  .puffer {
    top: 0;
    width: 100px;
    animation: SwimUpDown 1.5s infinite alternate,
      MoveOnScreen 15s 7s linear infinite normal;
    transform: scaleX(-1);
  }

  .school {
    top: 20%;
    width: 250px;
    animation: SwimUpDown 1s infinite alternate,
      MoveOnScreen 15s infinite normal;
  }

  .spiny {
    top: 50%;
    //   width: 0px;
    animation: SwimUpDown 1s infinite alternate,
      MoveOnScreen 15s 3s infinite reverse;
  }

  .sword {
    top: 85%;
    width: 300px;
    animation: SwimUpDown 1s infinite alternate,
      MoveOnScreen 15s 5s linear infinite reverse;
    transform: rotate(-15deg);
  }

  .normFish3 {
    top: 0;
    animation: SwimUpDown 1s infinite alternate,
      MoveOnScreen 15s 5s linear infinite normal;
  }

  .seahorse {
    width: 90px;
    top: 70%;
    animation: SwimUpDown 1s infinite alternate,
      MoveOnScreen 15s 5s linear infinite reverse;
  }

  .shark {
    top: 0;
    animation: SwimUpDown 1s infinite alternate,
      MoveOnScreen 15s linear infinite normal;
    width: 330px;
    transform: scale(1.3);

    @media @phone {
      height: 410px;
      animation: SwimUpDown 1s infinite alternate,
        MoveOnScreen 9s linear infinite normal;
    }
  }

  .normFish {
    top: 20%;
    animation: SwimUpDown 1s infinite alternate,
      MoveOnScreen 15s linear infinite normal;
  }

  .bass {
    top: 0;
    animation: SwimUpDown 1s infinite alternate,
      MoveOnScreen 15s linear infinite reverse;
  }

  .norm {
    top: 10%;
    animation: SwimUpDown 1s infinite alternate,
      MoveOnScreen 15s 2s linear infinite normal;
  }

  .whale {
    top: 80%;
    animation: SwimUpDown 1s infinite alternate,
      MoveOnScreen 15s linear infinite reverse;
    transform: scale(3) scaleX(-1);
  }
}

@keyframes SwimUpDown {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 25px;
  }
}

@keyframes MoveOnScreen {
  0% {
    opacity: 1;
    margin-left: -20%;
  }

  100% {
    margin-left: 120%;
    opacity: 1;
  }
}
