.navigation {
  position: fixed;
  width: 100%;
  background: @Sienna;
  z-index: 10;

  nav {
    max-width: 800px;
    .center();
    justify-content: space-around;
    // min-height: 50px;
    // max-height: 50px;

    a {
      display: inline-block;
      color: #ffffff;
      text-decoration: none;
      padding: 14px 10%;
      background: @Sienna;
      clip-path: polygon(112% -38%, 72% 101%, 4% 103%, 37% 0%);
      transition: all 1s ease;

      &:hover {
        color: @Sienna;
        background: #fff;
        clip-path: polygon(112% -38%, 72% 101%, 4% 103%, 37% 0%);
      }
    }
  }
}
