.center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Animation as mixin?
// .swimMoveAnimation() {
//   animation: SwimUpDown 1.5s infinite alternate,
//       MoveOnScreen 30s linear infinite alternate;
// }
