.navigation {
  position: fixed;
  width: 100%;
  background: @Sienna;
  z-index: 100;

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 5%;

    .logo {
      color: @navColor;
    }

    .navFish {
      position: absolute;
      right: 0;
      width: 40px;
      clip-path: polygon(
        0 36%,
        0 0,
        100% 0,
        100% 100%,
        46% 100%,
        0 100%,
        30% 60%
      );
    }

    .hamburger {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      p {
        width: 35px;
        height: 3px;
        background-color: @navColor;
        margin: 4px 0;
      }
    }
  }

  nav {
    display: none;
    max-width: 800px;
    justify-content: space-between;

    a {
      display: inline-block;
      color: @navColor;
      text-decoration: none;
      padding: 14px 6%;
      background: @Sienna;
      clip-path: polygon(112% -38%, 72% 101%, 4% 103%, 37% 0%);
      transition: all 1s ease;

      @media @tablet {
        padding: 14px 8%;
      }

      @media @phone {
        clip-path: none;
        margin: 4px 0;
        border-radius: 6px;
      }

      &:hover {
        color: @Sienna;
        background: @navColor;
        clip-path: polygon(112% -38%, 72% 101%, 4% 103%, 37% 0%);

        @media @phone {
          clip-path: none;
        }
      }
    }
  }
}
