.home {
  section {
    min-height: 450px;
    padding: 60px 0;
  }

  #about,
  #experience {
    background: @bannerAlt;
    max-width: 100%;
    overflow: hidden;
  }

  #projects,
  #tech {
    background: @bannerOALt;
    max-width: 100%;
    overflow: hidden;
  }

  #projects {
    .projects {
      .center();
      justify-content: space-around;

      .project {
        position: relative;
        max-width: 150px;
        margin-bottom: 40px;
        background: rgb(73, 71, 71);
        box-shadow: 1px 1px 7px black;

        transition: background 0.5s ease;

        &:hover {
          background: rgb(0, 0, 0);
        }

        a {
          text-decoration: none;
          color: black;
        }

        img {
          width: 100%;
          opacity: 0.7;
          height: 100%;
        }

        .info {
          position: absolute;
          display: flex;
          flex-direction: column;
          align-items: center;
          top: 40px;
          color: white;
        }

        .skills {
          opacity: 0;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          margin-top: 5px;

          p {
            background: rgb(66, 66, 66);
            padding: 2px 2%;
            margin: 5px 2%;
          }

          transition: opacity 0.5s ease;
        }

        &:hover .skills {
          opacity: 1;
        }
      }
    }
  }

  #tech {
    .icons {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      svg {
        width: 15%;
        margin: 0 1%;
      }
    }
  }
}

#projects {
  .wrapper {
    margin: 0 auto 100px auto;
    max-width: 960px;
  }

  .stage {
    list-style: none;
    padding: 0;
  }

  .project {
    width: 260px;
    height: 400px;
    margin: 30px;
    float: left;
    perspective: 1000px;
  }

  .pro {
    width: 260px;
    height: 400px;
    transform-style: preserve-3d;
    transform: translateZ(-130px);
    transition: transform 350ms;
  }

  .pro:hover {
    transform: rotateY(-78deg) translateZ(20px);
  }

  .pro .poster,
  .pro .info {
    position: absolute;
    width: 260px;
    height: 400px;
    background: #fff;
    backface-visibility: hidden;
  }

  .pro .poster {
    transform: translateZ(130px);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/mappaImg.PNG);
  }

  .pro .info {
    transform: rotateY(90deg) translateZ(130px);
    border: 1px solid #b8b5b5;
    font-size: 0.75rem;
  }

  .pro::after {
    content: "";
    width: 260px;
    height: 260px;
    position: absolute;
    bottom: 0;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.3);
    transform-origin: 100% 100%;
    transform: rotateX(90deg) translateY(130px);
    transition: box-shadow 350ms;
  }

  .pro:hover::after {
    box-shadow: 20px -5px 50px rgba(0, 0, 0, 0.3);
  }

  .pro .poster,
  .pro .info,
  .pro .info div {
    transition: box-shadow 350ms;
  }

  .pro .poster {
    box-shadow: inset 0px 0px 40px rgba(255, 255, 255, 0);
  }

  .pro:hover .poster {
    box-shadow: inset 300px 0px 40px rgba(255, 255, 255, 0.8);
  }

  .pro .info,
  .pro .info div {
    box-shadow: inset -300px 0px 40px rgba(0, 0, 0, 0.5);
  }

  .pro:hover .info,
  .pro:hover .info div {
    box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0);
  }
}
